.container{
    display: flex;
}
.perfilBox{
    background-color: white;
    width: 400px;
    height: auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #A5ABAF;
    gap: 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.userIMG{
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 10em;
}
.userData{
    display: flex;
    flex-direction: column;
}
.userData input{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.userData button{
  margin-top: 40px;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #d64218;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}
.userData button:hover{
    background-color: #b33615;

}
.SearchuserAdmin{
    width: 1000px;
    height: auto;
    padding: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #A5ABAF;
    gap: 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 300ms ease;
    interpolate-size: allow-keywords;
}
.SearchuserAdmin input{
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.selectOption{
    display: flex;
    text-align: center;
    gap: 20px;
    margin-bottom: -2em;
    margin-top: -1em;

}

.userEdit{
    display: flex;
    gap: 5em;
}
.imgUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.userDataEdit{
    display: flex;
    flex-direction: column;
}
.userDataEdit input, .roleUser select{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.SearchuserAdmin button{
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #d64218;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}
.active-tab {
    color: #d64218; /* azul o el color que prefieras */
    font-weight: bold;
    border-bottom: 2px solid #d64218;
    cursor: default;
}
  
.inactive-tab {
color: white;
cursor: pointer;
}
  