:root {
    --color-light-gray: #A5ABAF;
    --color-gray: #605D5C;
    --color-dark-gray: #3F3C3A;
    --color-deep-gray: #2F2A25;
    --color-orange: #D64218;
    --color-dark-blue: #32373D;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-dark-blue);
}

#root{
    height: auto;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

.reservas-container {
    padding: 2rem;
    font-family: Arial, sans-serif;
    overflow: auto;
}

h1 {
    text-align: center;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 1rem;
}

.table-wrapper {
    overflow-x: auto;
    max-height: 65vh;
    overflow-y: auto;
    border: 1px solid var(--color-dark-blue);
    border-radius: 8px;
}

.reservas-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
}


.reservas-table td {
    padding: 12px 16px;
    border: 1px solid var(--color-dark-gray);
    text-align: left;
    color: black;
}

.reservas-table th {
    padding: 12px 16px;
    position: sticky;
    top: 0;
    background-color: var(--color-deep-gray);
    z-index: 1;
    color: white;
    font-weight: bold;
}

.reservas-table tbody tr:nth-child(even) {
    background-color: #fafafa;
}
.tittle{
    color: var(--color-dark-blue);
}
.filtros {
    display: flex;
    gap: 1rem;
    align-items: end;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.filtros div {
    display: flex;
    flex-direction: column;
}

.filtros label {
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: var(--color-dark-blue);
}

.filtros input, .filtros select {
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filtros button {
    padding: 0.6rem 1rem;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filtros button:hover {
    background-color: #1565c0;
}
.formularios{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.formulario-reservas {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 600px;
}

.formulario-reservas h2 {
    margin-bottom: 10px;
}

.formulario-reservas form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario-reservas label {
    font-weight: bold;
}

.formulario-reservas input,
.formulario-reservas select {
    padding: 5px;
}
