
header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #d64218;
  color: #fff;
  text-align: center;
  display: flex;
  padding: 0px 40px;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.logoHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logoHeader img {
  width: 50px;
  height: 50px;
}
.directions {
  display: flex;
  align-items: center;
  gap: 10px;
}
h1, h4{
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2F2A25;
  
  overflow: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Animación flotante */
.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
